* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
    }
    a{
    text-decoration: none;
    }
    a img {
    border: none;
    }
    
    button,
    a {
    cursor: pointer;
    color: inherit;
    }
    
    textarea {
    resize: none;
    }
    
    button,
    textarea,
    select {
    appearance: none !important;
    border-radius: 0;
    }
    
    /* --------end of css reset--------- */
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    
    
        width: 100vw;
        height: 100vh;
        background-color: #f7e4d4;
        font-family: 'Montserrat', sans-serif;
    
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    
        width: 600px;
        height: 80vh;
    }
    
    h1 {
        font-family: 'EB Garamond', serif;
        font-size: 48px;
        font-weight: 400;
        color: #467745;
    }
    
    input {
        width: 100%;
        max-width: 480px;
        height: 64px;
        background-color: white;
        padding-inline-start: 20px;
    }
    
    ::placeholder{
        font-size: 16px;
        color: #467745;
        font-weight: 500;
        padding-top: 20px;
    }
    
    textarea {
        width: 100%;
        max-width: 480px;
        height: 120px;
        padding-inline-start: 20px;
    
        background-color: white;
    }
    
    div {
        display: grid;
        grid-template-columns: 25px auto;
        gap: 5px;
        width: 100%;
        max-width: 480px;
        height: fit-content;
    }
    
    #pipa {
        height: 25px;
        width: 25px;
        align-self: center;
    }
    
    
    label {
        font-weight: 500;
        font-size: 16px;
        color: #467745;
        justify-self: start;
        align-self: center;
    }
    
    a {
        text-decoration: underline;
    }
    
    button { 
        width: 100%;
        max-width: 280px;
        height: 80px;
        border-radius: 40px;
        background-color: #467745;
        font-family: 'EB Garamond', serif;
        font-size: 21px;
        color: #f7e4d4;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }
    
    @media screen and (max-width: 520px) {
        h1 {
            font-size: 36px;
            align-self: flex-start;
            margin-left: 20px;
        }
    
        input, textarea {
            width: calc(100vw - 40px);
            margin-left: auto;
            margin-right: auto;
        }
    
        div {
            width: calc(100vw - 40px);
            margin-left: auto;
            margin-right: auto;
        }
    
    }